altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
decorator==4.4.2
ffmpeg-python==0.2.0
future==0.18.2
idna==3.3
imageio==2.13.5
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.21.5
pefile==2021.9.3
Pillow==8.4.0
proglog==0.1.9
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pywin32-ctypes==0.2.0
requests==2.26.0
tqdm==4.62.3
urllib3==1.26.7
